{{!-- <h1>{{title}}</h1>
<img src="{{uploadImage}}" height="500px" width="auto">
<p>{{contentText}}</p> --}}


{{!-- <h1>{{title}}</h1>
<p>{{content}}</p> <br>
<img src="{{path}}" height="500px" width="auto"> --}}

{{#each category}}
<h1>{{title}}</h1><br>
<p>{{content}}</p><br>
<img src="{{path}}" height="300px" width="auto"><br>
<span>{{time}}</span><br>
<h3>#{{tag}}</h3>
{{/each}}